/* --- general ----------------------------- */

Screen {
    layout: vertical;
}

TabbedContent {
    height: 1fr;
}

TabPane {
    padding: 0;
}

/* --- status bar ----------------------------- */
#status {
    width: 100%;
    height: 1fr;
    margin: 1 0;
    border: solid $primary;
}